@media only screen and (max-width: 900px) {
    .nav-links ul {
        display: none;
    }

    .small-products {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .footer {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .footer-box1,
    .footer-box2,
    .footer-box3,
    .footer-box4 {
        flex-basis: 40%;
    }

    .down-footer {
        justify-content: space-around;
    }

}

@media only screen and (max-width: 500px) {

    .left-box h2,
    .center-box h2,
    .right-box h2 {
        font-size: 18px;
    }

    .tab-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-box1,
    .footer-box2,
    .footer-box3,
    .footer-box4 {
        flex-basis: 80%;
        align-items: center;
    }