@media only screen and (max-width: 900px) {
    .nav-links ul{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .left-box h2, .center-box h2, .right-box h2 {
        font-size: 18px;
    }
    .tab-links{
        flex-wrap: wrap;
        justify-content: center;
    }
}
