@import url('https://fonts.googleapis.com/css2?family=Allison&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-text-color: #2e2e2e;
    --product-title-color: #757575;
    --footer-title-color: #a0a0a0;
    --hover-color: #ff6060;



}

body {
    color: var(--primary-text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.4285;
}

/* utility  */
.container {
    max-width: 1180px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

/* header*/
.header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    transition: all 0.4s linear;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.comapny-logo {
    cursor: pointer;
}

.header-wrapper {
    height: 13vh;
    padding: 0 30px;
}

.nav-links {
    gap: 40px;
    font-size: 14px;
}

.nav-links ul {
    list-style: none;
    gap: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 3s;
}

.nav-links ul a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav-links ul li a:hover,
.icons i:hover {
    color: var(--hover-color);
}

.icons .menu-nav {
    display: none;
}

.icons {
    font-size: 20px;
    gap: 15px;
}

.icons i {
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    position: absolute;
    width: 30%;
    height: 11vh;
    top: 13vh;
    right: 100%;
    padding: 15px 10px;
    gap: 20px;
    transition: .1s ease-in-out;
    box-shadow: 0 0 9px rgba(172, 172, 172, 0.35);


}

.serach-bar-inside {
    border: 1px solid #0d0910;
    font-size: 18px;
    border-radius: 50px;
    width: 80%;
    height: 7vh;
    background: transparent;
    text-align: center;
}

.search-bar i {
    cursor: pointer;
    font-size: 30px;
}

.serachbar-active {
    right: 0;
}

/* banner section 1 */
.banner-wrapper {
    background-image: url(assets/asset\ 36.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-content h1 {
    color: #3b3b3b;
    margin: 0 0 -7px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 68px;
    font-family: "Montserrat", sans-serif;
}

.banner-content h2 {
    color: #7a7a7a;
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 51px;
    line-height: 54px;
    font-family: "Montserrat", sans-serif;
}

.banner-content .para {
    color: #818182;
    padding: 5px 0 0;
    font-style: italic;
    margin: 0 auto 81px;
    font-size: 16px;
    line-height: 21px;
}

.banner-content>span a {
    color: #818182;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.banner-content>span a::after {
    content: "";
    width: 40px;
    height: 1px;
    position: absolute;
    display: block;
    background: #818182;
    left: -65px;
    top: 50%;
}

.banner-content>span a::before {
    content: "";
    width: 40px;
    height: 1px;
    position: absolute;
    display: block;
    background: #818182;
    right: -65px;
    top: 50%;
}
.banner-content>span a:hover{
    color: var(--hover-color);
}

.banner-title {
    color: #818182;
    margin: 0 0 12px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
}

/* section 2 */
.section-2 {
    margin-top: 50px;
}

.all-boxs {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.left-box,
.right-box,
.center-box {
    width: 385px;
    height: 477px;
    /* padding: 39px 38px 20px 41px; */
}

.left-box {
    background-image: url(assets/asset\ 6.jpeg);
    background-repeat: no-repeat;
    position: relative;
    padding: 39px 38px 20px 41px;
}

.left-box h2,
.center-box h2,
.right-box h2 {
    margin: 0 0 3px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2.6px;
    font-size: 24px;
    line-height: 28px;
}

.left-box span a,
.right-box span a {
    color: #878787;
    font-size: 16px;
    margin: 40px 0 0;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.left-btn {
    margin: 40px 0 0;
    cursor: pointer;
}

.left-btn span a:hover {
    color: var(--hover-color);
}

.left-btn i:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.left-btn i {
    color: #878787;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #878787;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 21px;
    margin-left: 5px;
}

.discout-circle {
    background-color: #eed24c;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 90px;
    color: #fff;
    font-weight: bold;
    font-size: 37px;
    line-height: 40px;
    font-family: "Montserrat", sans-serif;
}

.center-box {
    flex-direction: column;
}

.up-box p,
.right-box p {
    margin: 40px 0 0;
}

.up-box {
    background-image: url(assets/asset\ 7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 38px 20px 41px;
    height: 48%;
}

.down-box {
    background-image: url(assets/asset\ 8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 38px 20px 41px;
    text-align: end;
    height: 48%;
    position: relative;
}

.down-box h2 {
    letter-spacing: 1px;
}

.down-box a {
    margin: 40px 0 0;
    text-decoration: none;
    position: absolute;
    right: 38px;
    bottom: 24px;
    color: #878787;
}

.down-box a:hover {
    color: var(--hover-color);
}

.right-box {
    background-image: url(assets/asset\ 9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 38px 20px 41px;

}

/* section 3 */
.section-3 {
    margin-top: 40px;
    padding: 0 15px;
}

.tab-links {
    color: #838182;
    gap: 40px;
    padding: 0;
    margin: 0 0 5px;
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
    font: 700 18px / 20px "Montserrat", sans-serif;
}

.tab-links .active {
    color: #000000;
    font-weight: bold;
}

.tab-links li {
    border-right: 1px solid #d8d8d8;
    padding-right: 40px;
    cursor: pointer;
}

.box-content {
    text-align: center;
    flex-wrap: wrap;
}

.box-content h3 {
    margin: 0 0 5px;
    color: #757575;
    text-transform: capitalize;
    font: 600 14px / 20px "Source Sans Pro", sans-serif;
}

.box-content h3:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.box-content p {
    cursor: default;
    color: #010101;
    font: 600 16px / 20px "Source Sans Pro", sans-serif;
}

.star-icon i {
    font-size: 12px;
    margin-bottom: 8px;
}

.up-side,
.down-side {
    cursor: pointer;
    position: relative;
}

.cart-box .links {
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 1;
    opacity: 0;
    width: 100%;
    display: table;
    font-size: 17px;
    background: #fff;
    visibility: hidden;
    position: absolute;
    text-align: center;
    border: 1px solid #eee;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease-in-out 0.5s;
}

.up-side:hover .links,
.down-side:hover .links {
    opacity: 1;
    visibility: visible;
}

.links li {
    display: table-cell;
    vertical-align: middle;
}

.links a:hover {
    color: var(--hover-color);
}

.links a span {
    font-size: 14px;
    margin: 0 -2px 0 10px;
}

.links a {
    color: #8a8a8a;
    display: block;
    padding: 12px 9px;
    text-decoration: none;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

/* section 4 */

.section-4 {
    margin-top: 40px;
    background-color: #f8f8f8;
}

.section-4-title {
    text-align: center;
    padding-top: 60px;
}

.section-4-title h2 {
    color: #3a3a3a;
    margin: 0 0 2px;
    letter-spacing: 0;
    font: 700 26px / 30px "Montserrat", sans-serif;
}

.section-4-title p {
    color: #a0a0a0;
    margin: 0 0 12px;
    letter-spacing: 4px;
    font: 700 14px / 20px "Source Sans Pro", sans-serif;
}

.best-seller-box {
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 60px;
}

.seller-box1,
.seller-box2,
.seller-box3,
.seller-box4 {
    text-align: center;
    position: relative;
}

.best-seller-box h3 {
    font-size: 18px;
    color: #757575;
    cursor: pointer;
    margin: 0 0 5px;
}

.best-seller-box h3:hover {
    color: var(--hover-color);
}

.best-seller-box p {
    cursor: default;
    color: #010101;
    font: 600 16px / 20px "Source Sans Pro", sans-serif;
}

.seller-hover-links {
    list-style: none;
    background-color: white;
    width: 72%;
    justify-content: space-evenly;
    position: absolute;
    left: 40px;
    bottom: 63px;
    padding: 12px;
    box-shadow: 0 0 9px rgba(172, 172, 172, 0.35);
    visibility: hidden;
    opacity: 0;
}

.seller-box1:hover .seller-hover-links,
.seller-box2:hover .seller-hover-links,
.seller-box3:hover .seller-hover-links,
.seller-box4:hover .seller-hover-links {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.seller-hover-links a i:hover {
    color: var(--hover-color);
}

.seller-hover-links li {
    padding: 2px 20px;
    border-right: 1px #ccc6c6 solid;
}

.seller-hover-links li:nth-child(3) {
    border: none !important;
}

.seller-hover-links li i {
    color: #ccc6c6;
    font-size: large;
}

.seller-box1 img,
.seller-box2 img,
.seller-box3 img,
.seller-box4 img {
    cursor: pointer;
}


/* section 5 */
.section-5 {
    margin-top: 40px;
    margin-bottom: 80px;
}


.inside-small-prod1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.inside-small-text {
    padding: 13px 0 0;
}

.small-prod-content {
    gap: 30px;
}

.inside-small-text-for-hover:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.small-prod-content:hover img {
    cursor: pointer;
}

.small-prod-content {
    color: #959596;
    font: 14px / 16px "Montserrat", sans-serif;
    margin-bottom: 3px;
}

.inside-small-price {
    gap: 12px;
}

.inside-small-price p {
    color: #252528 !important;
    font: 18px / 18px "Montserrat", sans-serif;
}

.inside-small-price span {
    color: #959596;
    font: 14px / 16px "Montserrat", sans-serif;
}



/* footer */

footer {
    padding: 60px 0;
    background: #f6f6f6;
    color: #868686;
}

footer a {
    color: #7f7f7f;
    text-decoration: none;
    font-weight: bold;
}

.footer-box1,
.footer-box2,
.footer-box3,
.footer-box4 {
    flex-basis: 23%;
    padding: 0 10px;
}

.footer-box1 img,
.footer-box1 p {
    margin-bottom: 30px;
    color: #a0a0a0;
}

.footer-icons i {
    cursor: pointer;
    padding-right: 10px;
}

.footer-icons i:hover {
    color: var(--hover-color);
}

.footer-box2 h3,
.footer-box3 h3,
.footer-box4 h3 {
    color: #575757 !important;
    margin-bottom: 40px;

}

.fotoer-down-icon {
    margin-top: 50px;
}

.product-tags {
    flex-wrap: wrap;
    gap: 5px;
}

.product-tags span {
    padding: 1px 15px;
    display: block;
    border-radius: 25px;
    border: 1px solid #c1c1c1;
    width: max-content;
    transition: background-color .2s ease-in-out;
}

.product-tags span:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    color: white;
}

.rtl {
    direction: rtl;
}

.footer-box4 li {
    list-style: none;
    margin-top: 20px;
}

.footer-box4 span {
    margin-right: 10px;
}

/* down-footer */

.down-footer {
    height: 15vh;
    color: #a0a0a0;
    font-weight: 500;
    flex-wrap: wrap;
}

.down-footer a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}